# CM3 Pandas Opdrachten

In dit notebook vind je de volgende opdrachten
- [Opdracht 1 - Series](#Opdracht-1-Series)
- [Opdracht 2 - Dataframe](#Opdracht-2-Dataframe)
- [Opdracht 3 - Cijfers](#Opdracht-3-Cijfers)
- [Opdracht 4 - datetime](#Opdracht-4-datetime)
import pandas as pd
import numpy as np

# Assuming `cijferlijst` is the DataFrame containing the grades

# 1. Minimum, maximum, and average of all grades
all_grades = cijferlijst[['RAD', 'ANA', 'CBA']].values.flatten()
min_all = np.min(all_grades)
max_all = np.max(all_grades)
mean_all = np.mean(all_grades)

print(f"All grades - Min: {min_all}, Max: {max_all}, Mean: {mean_all}")

# 2. Minimum, maximum, and average for each subject
subject_stats = cijferlijst[['RAD', 'ANA', 'CBA']].agg(['min', 'max', 'mean'])
print(subject_stats)

# 3. Minimum, maximum, and average for each student
student_stats = cijferlijst[['RAD', 'ANA', 'CBA']].agg(['min', 'max', 'mean'], axis=1)
print(student_stats)

## Opdracht 1 Series

In [3]:
from datetime import datetime

import pandas as pd
import numpy as np

In [4]:
#values = [7.0, 6.5, 9.0, 8.0]
#index = [ 'DS', 'IAC', 'NET', 'IAC']
values = [7.0, 6.5, 9.0]
index = [ 'DS', 'IAC', 'NET']
cijfers = pd.Series(values, index=index)
print(cijfers)

DS     7.0
IAC    6.5
NET    9.0
dtype: float64

- Haal het cijfer 6.5 op uit de Series door middel van:
  1. de expliciete key methode
  2. de impliciete key methode
  3. rechtstreeks met de expliciete key
  4. rechtstreeks met de impliciete key

In [5]:
print(cijfers["IAC"])
print(cijfers.iloc[1])

6.5
6.5

- Retourneer de cijfers van de laatste twee vakken uit de Series.

In [6]:
print(cijfers[1:])

IAC    6.5
NET    9.0
dtype: float64

- Bepaal gemiddelde, mediaan, minimum en maximum van de cijfers.

In [7]:
cijfers.mean()
cijfers.median()
cijfers.min()
cijfers.max()

9.0

## Opdracht 2 Dataframe

In [8]:
student1 = pd.Series({'Nummer':'s1', 'Naam':'Joop', 'Tentamen':99.9, 'Opdracht': 7.5})
student2 = pd.Series({'Nummer':'s2', 'Naam':'Piet', 'Tentamen':8.0, 'Opdracht': 7.0})
student3 = pd.Series({'Nummer': None, 'Naam':'Fout', 'Tentamen':99.9, 'Opdracht': 99.9})
student4 = pd.Series({'Nummer':'s3', 'Naam':'Kees', 'Tentamen':4.0, 'Opdracht': 6.0})
studenten = pd.DataFrame([student1, student2,student3, student4])
print(studenten)

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop      99.9       7.5
1     s2  Piet       8.0       7.0
2   None  Fout      99.9      99.9
3     s3  Kees       4.0       6.0

- Bepaal het totaal aantal niet-bestaande waarden.

In [9]:
print(studenten.isnull().sum())

Nummer      1
Naam        0
Tentamen    0
Opdracht    0
dtype: int64

- Zet de opdracht- en tentamencijfers met waarde 99.9 om naar NaN waarde

In [10]:
studenten = studenten.replace(99.9, np.nan)
print(studenten)

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop       NaN       7.5
1     s2  Piet       8.0       7.0
2   None  Fout       NaN       NaN
3     s3  Kees       4.0       6.0

- Haal de missing values uit het DataFrame

In [11]:
studenten = studenten.dropna(subset=["Opdracht"])
print(studenten)

  Nummer  Naam  Tentamen  Opdracht
0     s1  Joop       NaN       7.5
1     s2  Piet       8.0       7.0
3     s3  Kees       4.0       6.0

- Zet `Nummer` als index.

In [12]:
studenten = studenten.set_index("Nummer")
print(studenten)

        Naam  Tentamen  Opdracht
Nummer
s1      Joop       NaN       7.5
s2      Piet       8.0       7.0
s3      Kees       4.0       6.0

- Het eindcijfer van het vak is 70% tentamen en 30% opdracht; voeg dit als kolom `Eindcijfer` toe

In [13]:
studenten["Eindcijfer"] = (0.7 * studenten["Tentamen"]) + (0.3 * studenten["Opdracht"])
print(studenten)

        Naam  Tentamen  Opdracht  Eindcijfer
Nummer
s1      Joop       NaN       7.5         NaN
s2      Piet       8.0       7.0         7.7
s3      Kees       4.0       6.0         4.6

- Bepaal het gemiddelde eindcijfer

In [14]:
print(studenten["Eindcijfer"].mean())

6.1499999999999995

- Wat geeft `studenten.describe()` weer?

In [15]:
print(studenten.describe())

       Tentamen  Opdracht  Eindcijfer
count  2.000000  3.000000    2.000000
mean   6.000000  6.833333    6.150000
std    2.828427  0.763763    2.192031
min    4.000000  6.000000    4.600000
25%    5.000000  6.500000    5.375000
50%    6.000000  7.000000    6.150000
75%    7.000000  7.250000    6.925000
max    8.000000  7.500000    7.700000

- Selecteer alle namen en cijfers van de studenten met een voldoende als eindcijfer.

In [16]:
print(studenten[studenten["Eindcijfer"] >= 5.5])

        Naam  Tentamen  Opdracht  Eindcijfer
Nummer
s2      Piet       8.0       7.0         7.7

## Opdracht 3 Cijfers

Numpy arrays kunnen alleen uniforme waarden bevatten. Pandas arrays kunnen juist meer bevatten. We doen de opdracht in numpy nu in pandas. Tip: maak gebruik van de cheat sheets!

Aanvullende bron:
-	http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

De blokcoördinator D.O. Cent van blok A, SIE-V2  wil graag de cijfers analyseren en verwerken. het blok bestaat uit 3 vakken, die door 10 studenten gevolgd zijn. Analyse omvat o.a. het bepalen van gemiddelde cijfer, het aantal voldoendes en cursusrendement. De verwerking bestaat uit het corrigeren van de cijfers. 


In `blokAcijfers.txt` staan de cijfers per vak (naast elkaar staan de vakken, onder elkaar de studenten):

vak1 | vak2 | vak3
----|-------|------
6.5 | 7.3   | 6.4
8.0 | 8.0	| 8.5
3.2	| 4.0	| 5.0
7.9	| 7.1	| 3.5
7.3	| 7.8	| 8.0
8.6	| 8.0	| 9.0
4.0	| 6.0	| 5.5
7.3	| 7.8	| 7.8
4.5	| 5.6	| 7.7
5.0	| 7.0	| 7.2

In `blokAStudenten.csv` staan de studentgegevens:

"Studentnr"|"Naam"|"Vooropleiding"
--|--|--
1502000|"Jan Jansen"|"HAVO"
1501677|"Ali ElMoune"|"MBO"
1503190|"Bert de Graaf"|"HAVO"
1506700|"Koos Alberts"|"MBO"
1504503|"Willie Napoli"|"MBO"
1507878|"Jorrit Beeks"|"VWO"
1502507|"Frits Wielenga"|"HAVO"
1503684|"Cornee Nijsten"|"VWO"
1503831|"Sabine Honing"|"HAVO"
1506001|"George Belfore"|"HAVO"

In [17]:
# Deze imports zijn nodig voor de opdracht.
import pandas as pd
import numpy as np

De docent wil de gegevens in een Jupyter Notebook verwerken.
-	Lees tekstbestand: blokAcijfers.txt in, in een dataframe `cijfers`.
-	Laat zien dat de gegevens goed ingelezen zijn.
-	Wijzig de kolomnrs in de vaknamen: vakken = ['RAD','ANA', CBA'].
-	Toon de dataframe attributen.
-	Toon de index gegevens.

In [18]:
cijfers = pd.read_csv("blokAcijfers.txt", sep="\t", names=["RAD", "ANA", "CBA"])
print(cijfers)

   RAD  ANA  CBA
0  6.5  7.3  6.4
1  8.0  8.0  8.5
2  3.2  4.0  5.0
3  7.9  7.1  3.5
4  7.3  7.8  8.0
5  8.6  8.0  9.0
6  4.0  6.0  5.5
7  7.3  7.8  7.8
8  4.5  5.6  7.7
9  5.0  7.0  7.2

De docent ziet dat er 2 cijfers fout zijn en wil deze corrigeren (NB. Elke regel heeft een numeriek index gelijk aan het regelnummer.)
-	 Wijzig de volgende cijfers							
    *	vak-2, student-3  cijfer 4.0 moet 4.3 worden.
    *	vak-1, student-10, cijfer 5.0 moet 4.8 worden.

In [19]:
cijfers.iloc[2, 1] = 4.3
cijfers.iloc[9, 0] = 4.8
print(cijfers)

   RAD  ANA  CBA
0  6.5  7.3  6.4
1  8.0  8.0  8.5
2  3.2  4.3  5.0
3  7.9  7.1  3.5
4  7.3  7.8  8.0
5  8.6  8.0  9.0
6  4.0  6.0  5.5
7  7.3  7.8  7.8
8  4.5  5.6  7.7
9  4.8  7.0  7.2

De docent wil de studentgegevens ook aan het dataframe toevoegen.
-	Lees tekstbestand: `blokAStudenten.csv` in, in een dataframe `studenten`. Let op dat je de juiste instellingen voor sep en header meegeeft.
-	Laat zien dat de gegevens correct zijn ingelezen.

In [20]:
studenten = pd.read_csv("blokAStudenten.csv", sep=";")
print(studenten)

   Studentnr            Naam Vooropleiding
0    1502000      Jan Jansen          HAVO
1    1501677     Ali ElMoune           MBO
2    1503190   Bert de Graaf          HAVO
3    1506700    Koos Alberts           MBO
4    1504503   Willie Napoli           MBO
5    1507878    Jorrit Beeks           VWO
6    1502507  Frits Wielenga          HAVO
7    1503684  Cornee Nijsten           VWO
8    1503831   Sabine Honing          HAVO
9    1506001  George Belfore          HAVO

Nu gaan we ``studenten`` en ``cijfers`` samenvoegen tot een cijferslijst. We mogen er vanuitgaan dat de volgorde van beiden dezelfde index hebben (hier de rijwaarde 0 t/m 9).
-	Combineer de beide dataframes met behulp van `p.merge()`:
    *	Je kunt hier een inner join gebruiken.
    *	Je kunt van beide zijden de index gebruiken .
-	Laat zien dat de gegevens correct zijn samengevoegd tot één dataframe cijferlijst met de kolommen: `Studentnr`; `Naam`; `Vooropleiding`; `RAD`; `ANA`; en `CBA`.

In [21]:
school = pd.concat([studenten, cijfers], axis=1)
print(school)

   Studentnr            Naam Vooropleiding  RAD  ANA  CBA
0    1502000      Jan Jansen          HAVO  6.5  7.3  6.4
1    1501677     Ali ElMoune           MBO  8.0  8.0  8.5
2    1503190   Bert de Graaf          HAVO  3.2  4.3  5.0
3    1506700    Koos Alberts           MBO  7.9  7.1  3.5
4    1504503   Willie Napoli           MBO  7.3  7.8  8.0
5    1507878    Jorrit Beeks           VWO  8.6  8.0  9.0
6    1502507  Frits Wielenga          HAVO  4.0  6.0  5.5
7    1503684  Cornee Nijsten           VWO  7.3  7.8  7.8
8    1503831   Sabine Honing          HAVO  4.5  5.6  7.7
9    1506001  George Belfore          HAVO  4.8  7.0  7.2

Het is handig om een dataframe een sprekende index te geven:
-	Maak `Studentnr` de rij-index. NB. Gebruik indien nodig de optie `inplace=True`.

In [22]:
cijferlijst = school.set_index("Studentnr")
print(school)

   Studentnr            Naam Vooropleiding  RAD  ANA  CBA
0    1502000      Jan Jansen          HAVO  6.5  7.3  6.4
1    1501677     Ali ElMoune           MBO  8.0  8.0  8.5
2    1503190   Bert de Graaf          HAVO  3.2  4.3  5.0
3    1506700    Koos Alberts           MBO  7.9  7.1  3.5
4    1504503   Willie Napoli           MBO  7.3  7.8  8.0
5    1507878    Jorrit Beeks           VWO  8.6  8.0  9.0
6    1502507  Frits Wielenga          HAVO  4.0  6.0  5.5
7    1503684  Cornee Nijsten           VWO  7.3  7.8  7.8
8    1503831   Sabine Honing          HAVO  4.5  5.6  7.7
9    1506001  George Belfore          HAVO  4.8  7.0  7.2

De docent wil wat basisgegevens: minimum, maximum, gemiddelde van de cijfers weten. Het grote voordeel is dat numpy heel goed kan omgaan met de numerieke kolommen van een dataframe. Voorbeeld: het berekenen van het gemiddelde cijfer voor het vak ‘RAD’ kan met de opdracht: `np.mean(cijferlijst['RAD']`.
-	Bepaal minimum, maximum en gemiddelde van alle cijfers.
-	Bepaal minimum, maximum en gemiddelde van elk vak (3 getallen).
-	Bepaal minimum, maximum en gemiddelde van elke student (10 getallen).

In [23]:
all_grades = cijferlijst[['RAD', 'ANA', 'CBA']].values.flatten()
min_all = np.min(all_grades)
max_all = np.max(all_grades)
mean_all = np.mean(all_grades)

print(f"All grades - Min: {min_all}, Max: {max_all}, Mean: {mean_all}")

subject_stats = cijferlijst[['RAD', 'ANA', 'CBA']].agg(['min', 'max', 'mean'])
print(subject_stats)

student_stats = cijferlijst[['RAD', 'ANA', 'CBA']].agg(['min', 'max', 'mean'], axis=1)
print(student_stats)

All grades - Min: 3.2, Max: 9.0, Mean: 6.653333333333333
       RAD   ANA   CBA
min   3.20  4.30  3.50
max   8.60  8.00  9.00
mean  6.21  6.89  6.86
           min  max      mean
Studentnr
1502000    6.4  7.3  6.733333
1501677    8.0  8.5  8.166667
1503190    3.2  5.0  4.166667
1506700    3.5  7.9  6.166667
1504503    7.3  8.0  7.700000
1507878    8.0  9.0  8.533333
1502507    4.0  6.0  5.166667
1503684    7.3  7.8  7.633333
1503831    4.5  7.7  5.933333
1506001    4.8  7.2  6.333333

Er is een fout gemaakt bij de cijfers van het 3e vak (RAD). Iedere student krijgt 0.5 punt extra erbij.
-	Doe dit met één opdrachtregel.

In [24]:
cijferlijst['RAD'] += 0.5
print(cijferlijst)

                     Naam Vooropleiding  RAD  ANA  CBA
Studentnr
1502000        Jan Jansen          HAVO  7.0  7.3  6.4
1501677       Ali ElMoune           MBO  8.5  8.0  8.5
1503190     Bert de Graaf          HAVO  3.7  4.3  5.0
1506700      Koos Alberts           MBO  8.4  7.1  3.5
1504503     Willie Napoli           MBO  7.8  7.8  8.0
1507878      Jorrit Beeks           VWO  9.1  8.0  9.0
1502507    Frits Wielenga          HAVO  4.5  6.0  5.5
1503684    Cornee Nijsten           VWO  7.8  7.8  7.8
1503831     Sabine Honing          HAVO  5.0  5.6  7.7
1506001    George Belfore          HAVO  5.3  7.0  7.2

De docent wil graag weten of er verschil in studentprestaties is afhankelijk van de vooropleiding. 
-	Toon voor elk vak het vooropleiding groepsgemiddelde.
-	Wat is je conclusie ?

In [25]:
group = cijferlijst.groupby('Vooropleiding')[['RAD', 'ANA', 'CBA']].mean()
print(group)

                    RAD       ANA       CBA
Vooropleiding
HAVO           5.100000  6.040000  6.360000
MBO            8.233333  7.633333  6.666667
VWO            8.450000  7.900000  8.400000

Conclusie:

## Opdracht 4 datetime

Maak een Jupyter notebook waarin je met Pandas de volgende casus realiseert: een storingsmedewerker wil graag onderzoeken hoe het weer geweest is op 1 Januari 2017. Hiervoor vraagt hij bij het KNMI de weergegevens op van drie meetstations.

Aanvullende bronnen:
- http://chrisalbon.com/python/pandas_time_series_basics.html
- http://chrisalbon.com/python/date_and_time_basics.html
- http://chrisalbon.com/python/pandas_group_by_time.html

In [26]:
# Aanvullende imports
import datetime as dt
import matplotlib.pyplot as pyplot

# De data die we gaan gebruiken.
data = {'meetpunt': ['De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden'],
        'datum': ['2017-01-01 13:00:05.069722', '2017-01-01 13:00:01.119994', '2017-01-01 13:00:07.178768',
                  '2017-01-02 13:00:01.043200', '2017-01-02 13:00:03.119401', '2017-01-02 13:00:03.876898',
                  '2017-01-03 13:00:03.043450', '2017-01-03 13:00:02.669401', '2017-01-03 13:00:01.321898',
                  '2017-01-04 13:00:04.042015', '2017-01-04 13:00:04.321564', '2017-01-04 13:00:04.394866'],
        'temperatuur': [-0.3, 1.9, 0.8,
                        1.8, 7.1, 5.7,
                        2.9, 7.3, 5.1,
                        0.1, 6.8, 2.1,]}

Bewerk de data zodat deze netjes in een dataframe komt.
-	Maak een dataframe met kolommen: ‘datum’, ‘temperatuur, ‘meetpunt’.
-	Maak van de datum kolom een kolom met datatype datetime.

In [27]:
df = pd.DataFrame(data)
df['datum'] = df['datum'].astype('datetime64[ns]')
print(df)

      meetpunt                      datum  temperatuur
0      De Bilt 2017-01-01 13:00:05.069722         -0.3
1   Maastricht 2017-01-01 13:00:01.119994          1.9
2   Leeuwarden 2017-01-01 13:00:07.178768          0.8
3      De Bilt 2017-01-02 13:00:01.043200          1.8
4   Maastricht 2017-01-02 13:00:03.119401          7.1
5   Leeuwarden 2017-01-02 13:00:03.876898          5.7
6      De Bilt 2017-01-03 13:00:03.043450          2.9
7   Maastricht 2017-01-03 13:00:02.669401          7.3
8   Leeuwarden 2017-01-03 13:00:01.321898          5.1
9      De Bilt 2017-01-04 13:00:04.042015          0.1
10  Maastricht 2017-01-04 13:00:04.321564          6.8
11  Leeuwarden 2017-01-04 13:00:04.394866          2.1

Doe de volgende analyse op de datum gegevens.
-	Haal de eerste datumwaarde uit de tabel.
-	Bepaal van de eerste datumwaarden: jaar, maand, dag, uur, minuut en seconde.
-	Bepaal het tijdsverschil tussen de 1e en laatste waarde.
-	Bepaal van het tijdsverschil het aantal dagen.
-	Bepaal van het tijdsverschil het aantal uren.

In [28]:
# Haal de eerste datumwaarde uit de tabel
first_date = df['datum'].iloc[0]
print("First date:", first_date)

# Bepaal van de eerste datumwaarden: jaar, maand, dag, uur, minuut en seconde
year = first_date.year
month = first_date.month
day = first_date.day
hour = first_date.hour
minute = first_date.minute
second = first_date.second
print(f"Year: {year}, Month: {month}, Day: {day}, Hour: {hour}, Minute: {minute}, Second: {second}")

# Bepaal het tijdsverschil tussen de 1e en laatste waarde
last_date = df['datum'].iloc[-1]
time_difference = last_date - first_date
print("Time difference:", time_difference)

# Bepaal van het tijdsverschil het aantal dagen
days_difference = time_difference.days
print("Days difference:", days_difference)

# Bepaal van het tijdsverschil het aantal uren
hours_difference = time_difference.total_seconds() / 3600
print("Hours difference:", hours_difference)

First date: 2017-01-01 13:00:05.069722
Year: 2017, Month: 1, Day: 1, Hour: 13, Minute: 0, Second: 5
Time difference: 2 days 23:59:59.325144
Days difference: 2
Hours difference: 71.99981254

De storingsmedewerker wil graag de volgende gegevens van dagen. Daarom is het handig om de dataframe te voorzien van een index. Voer dan de volgende opdrachten uit en verklaar deze.
-	Maak van de datum kolom een index.
-	De temperaturen op 1 januari.
-	De temperaturen na 3 januari.
-	De temperatuur gemiddeld per dag .
-	Leg nu zelf uit wat de functie shift() doet.
-	Haal de datum kolom index weer weg.

In [29]:
df = pd.DataFrame(data)
df['datum'] = df['datum'].astype('datetime64[ns]')

# Set the 'datum' column as the index and sort it
df.set_index('datum', inplace=True)
df.sort_index(inplace=True)
print(df)

# De temperaturen op 1 januari
temps_jan1 = df.loc['2017-01-01']
print("Temperatures on January 1st:", temps_jan1)

# De temperaturen na 3 januari
temps_after_jan3 = df.loc['2017-01-04':]
print("Temperatures after January 3rd:", temps_after_jan3)

# De temperatuur gemiddeld per dag
avg_temp_per_day = df.resample('D').mean()
print("Average temperature per day:", avg_temp_per_day)

# Leg nu zelf uit wat de functie shift() doet
# The shift() function shifts the index by a specified number of periods with an optional time frequency.
# For example, shifting the temperatures by one day:
shifted_temps = df['temperatuur'].shift(1)
print("Shifted temperatures:", shifted_temps)

# Haal de datum kolom index weer weg
df.reset_index(inplace=True)
print(df)

                              meetpunt  temperatuur
datum
2017-01-01 13:00:01.119994  Maastricht          1.9
2017-01-01 13:00:05.069722     De Bilt         -0.3
2017-01-01 13:00:07.178768  Leeuwarden          0.8
2017-01-02 13:00:01.043200     De Bilt          1.8
2017-01-02 13:00:03.119401  Maastricht          7.1
2017-01-02 13:00:03.876898  Leeuwarden          5.7
2017-01-03 13:00:01.321898  Leeuwarden          5.1
2017-01-03 13:00:02.669401  Maastricht          7.3
2017-01-03 13:00:03.043450     De Bilt          2.9
2017-01-04 13:00:04.042015     De Bilt          0.1
2017-01-04 13:00:04.321564  Maastricht          6.8
2017-01-04 13:00:04.394866  Leeuwarden          2.1
Temperatures on January 1st:                               meetpunt  temperatuur
datum
2017-01-01 13:00:01.119994  Maastricht          1.9
2017-01-01 13:00:05.069722     De Bilt         -0.3
2017-01-01 13:00:07.178768  Leeuwarden          0.8
Temperatures after January 3rd:                               meetpunt  temperatuur
datum
2017-01-04 13:00:04.042015     De Bilt          0.1
2017-01-04 13:00:04.321564  Maastricht          6.8
2017-01-04 13:00:04.394866  Leeuwarden          2.1

TypeError: agg function failed [how->mean,dtype->object]